baseURL: "https://dridani.vercel.app"
title: "DRIDANI ID"
languageCode: id-ID
defaultContentLanguage: id
enableRobotsTXT: true
buildDrafts: false
buildFuture: false
buildExpired: false
pygmentsUseClasses: true
disableHugoGeneratorInject: true

module:
  imports:
    - path: github.com/dridani/PaperWorks

outputs:
  home:
    - HTML
    - RSS
    - JSON

menu:
  main:
    - name: TENTANG
      url: "/tentang"
      weight: 5
    - name: ARSIP
      url: "/arsip"
      weight: 10
    - name: CARI
      url: "/cari"
      weight: 20

minify:
  disableXML: true
  minifyOutput: true

permalinks:
  posts: "/:slug/"
  pages: "/:slug/"
  tags: "/tag/:slug/"

markup:
  goldmark:
    renderer:
      unsafe: true
  highlight:
    noClasses: false
    # anchorLineNos: true
    # codeFences: true
    # guessSyntax: true
    # lineNos: true
    # style: nordic
