@font-face {
  font-family: "PlusJakartaSans";
  src: url("/fonts/PlusJakartaSans/PlusJakartaSans-Light.woff2") format("woff2");
  font-weight: light;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PlusJakartaSans";
  src: url("/fonts/PlusJakartaSans/PlusJakartaSans-LightItalic.woff2")
    format("woff2");
  font-weight: light;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "PlusJakartaSans";
  src: url("/fonts/PlusJakartaSans/PlusJakartaSans-SemiBold.woff2")
    format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PlusJakartaSans";
  src: url("/fonts/PlusJakartaSans/PlusJakartaSans-SemiBoldItalic.woff2")
    format("woff2");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Monaspace";
  src: url("/fonts/Monaspace/MonaspaceArgon-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Monaspace";
  src: url("/fonts/Monaspace/MonaspaceArgon-SemiBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
