@font-face {
  font-family: "LXGW WenKai TC";
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  src: url("/fonts/lxgw-wenkai/lxgw-wenkai-tc-latin-300.ttf") format("truetype");
}

@font-face {
  font-family: "LXGW WenKai TC";
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  src: url("/fonts/lxgw-wenkai/lxgw-wenkai-tc-latin-400.ttf") format("truetype");
}

@font-face {
  font-family: "LXGW WenKai TC";
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  src: url("/fonts/lxgw-wenkai/lxgw-wenkai-tc-latin-700.ttf") format("truetype");
}