/* Nordic Color Theme */
/* :root {
    --theme:#eceff4;
    --entry:#eceff4;
    --primary:#4C566A;
    --secondary: #434C5E;
    --tertiary: #D8DEE9;
    --content: #434C5E;
    --code-block-bg: #434C5E;
    --code-bg: #e5e9f0;
    --code: #D8DEE9;
    --border:  #434c5e;
}
.dark {
    --theme: #292E39;
    --entry: #292E39;
    --primary: #D8DEE9;
    --secondary: #D8DEE9;
    --tertiary: #3b4252;
    --content: #D8DEE9;
    --code-block-bg: #3b4252;
    --code-bg: #292E39;
    --code: #3b4252;
    --border: #D8DEE9;
} */

/* Gruvbox Color Theme */
/* :root {
    --theme: #fbf1c7;
    --entry: #f2e5bc;
    --primary: #282828;
    --secondary: #32302f;
    --tertiary: #d5c4a1;
    --content: #282828;
    --code-block-bg: #282828;
    --code-bg: #f2e5bc;
    --border: #f2e5bc;
} */

/* Github Color Light Theme */
:root {
  --theme: #ffffff;
  --entry: #f6f8fa;
  --primary: #15141a;
  --secondary: #5b5b66;
  --tertiary: #e8ebee;
  --content: #15141a;
  --code-block-bg: #282828;
  --code-bg: #f6f8fa;
  --border: #d1d9e0;
}

/* Custom Dark Theme */
/* .dark {
  --theme: rgb(20, 20, 20);
  --entry: rgb(30, 30, 30);
  --primary: rgb(218, 218, 218);
  --secondary: rgb(140, 140, 140);
  --tertiary: rgb(30, 30, 30);
  --content: rgb(218, 218, 218);
  --code-block-bg: rgb(30, 30, 30);
  --code-bg: rgb(30, 30, 30);
  --border: rgb(50, 50, 50);
} */

body#top.list {
  background: var(--theme);
}

mark {
  background: #fabd2f;
}

.post-content code {
  background: var(--tertiary);
}

.copy-code {
  color: var(--tertiary);
  background: var(--primary);
}

.terms-tags a {
  background: var(--entry);
  border: 1px solid var(--border);
}

.post-tags a:hover,
.paginav a:hover {
  background: var(--tertiary);
}

#searchbox input {
  background: var(--theme);
  border: 2px solid var(--primary);
}

#searchResults a {
  color: var(--content);
}

.archive-year:not(:last-of-type) {
  border-bottom: 2px solid var(--tertiary);
}

.archive-month:not(:last-of-type) {
  border-bottom: 1px solid var(--tertiary);
}

.archive-month:not(:last-of-type) {
  border-bottom: 1px solid var(--tertiary);
}

.top-link {
  background: var(--code-bg);
  border: 1px solid var(--border);
}
