:root {
  --gap: 18px;
  --content-gap: 18px;
  --nav-width: 1024px;
  --main-width: 720px;
  --header-height: 60px;
  --footer-height: 60px;
  --radius: 8px;
  --theme: rgb(255, 255, 255);
  --entry: rgb(246, 248, 250);
  --primary: rgb(31, 35, 40);
  --secondary: rgb(91, 91, 102);
  --tertiary: rgb(246, 248, 250);
  --content: rgb(21, 20, 26);
  --code-block-bg: rgb(40, 40, 40);
  --code-bg: rgb(40, 40, 40); 
  --border: rgb(209, 217, 224);
  --divider: rgb(233, 233, 233);
}

.dark {
  --theme: rgb(20, 20, 20);
  --entry: rgb(30, 30, 30);
  --primary: rgb(218, 218, 218);
  --secondary: rgb(140, 140, 140);
  --tertiary: rgb(30, 30, 30);
  --content: rgb(218, 218, 218);
  --code-block-bg: rgb(30, 30, 30);
  --code-bg: rgb(37, 37, 37);
  --border: rgb(57, 57, 57);
  --divider: rgb(29, 29, 29);
}
